<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.product.service.ProductMapper">
    <insert id="productRegist" parameterType="ProductVO">
        INSERT INTO PRODUCT(PROD_ENDDATE,

                            PROD_WRITER,
                            PROD_NAME,
                            PROD_PRICE,
                            PROD_COUNT,
                            PROD_DISCOUNT,
                            PROD_PURCHASE_YN,
                            PROD_CONTENT,
                            PROD_COMMENT
        )
        values( #{prodEnddate}
              ,#{prodWriter}
              ,#{prodName}
              ,#{prodPrice}
              ,#{prodCount}
              ,#{prodDiscount}
              ,#{prodPurchaseYn}
              ,#{prodContent}
            ,#{prodComment}
              )
    </insert>


    <!--
    동적 쿼리구문
    if, choose, foreach
    test에는 getter명이 들어감
    -->
    <select id="getList" resultType="ProductVO">
        select *
        from PRODUCT
        where PROD_WRITER = #{prodWriter}
        <if test="cri.searchName != '' and cri.searchName != null">
            and prod_name like concat('%', #{cri.searchName}, '%')
        </if>
        <if test="cri.searchContent != '' and cri.searchContent != null">
            and prod_Content like concat('%', #{cri.searchContent}, '%')
        </if>
        <if test="cri.startDate != '' and cri.startDate != null">
            <![CDATA[
            and str_to_date(PROD_ENDDATE, '%Y-%m-%d') >= str_to_date(#{cri.startDate}, '%Y-%m-%d')
        ]]>
        </if>

        <if test="cri.endDate != '' and cri.endDate != null">
          <![CDATA[
            and str_to_date(PROD_ENDDATE, '%Y-%m-%d') <= str_to_date(#{cri.endDate}, '%Y-%m-%d')
        ]]>
        </if>
        ORDER BY
        <if test="cri.searchPrice == 'asc'">
            prod_price asc,
        </if>
        <if test="cri.searchPrice == 'desc'">
            prod_price desc,
        </if>
        PROD_ID DESC


        LIMIT #{cri.pageStart}, #{cri.amount}
    </select>
    <select id="getDetail" resultType="ProductVO">
        SELECT *
        FROM PRODUCT
        WHERE PROD_ID = #{prodId}

    </select>
    <update id="productUpdate" parameterType="ProductVO">
        UPDATE PRODUCT
        set PROD_ENDDATE =#{prodEnddate}
            ,PROD_NAME =#{prodName}
            ,PROD_PRICE =#{prodPrice}
            ,PROD_COUNT =#{prodCount}
            ,PROD_DISCOUNT =#{prodDiscount}
            ,PROD_PURCHASE_YN =#{prodPurchaseYn}
            ,PROD_CONTENT =#{prodContent}
            ,PROD_COMMENT =#{prodComment}
        where PROD_ID =#{prodId}
    </update>
    <delete id="productDelete" parameterType="ProductVO">
        DELETE
        FROM PRODUCT
        WHERE PROD_ID = #{prodId}
    </delete>
    <select id="getTotal" resultType="int">
        select count(*) as total
        from PRODUCT
        where prod_writer = #{prodWriter}
        <if test="cri.searchName != '' and cri.searchName != null" >
            and prod_name like concat('%', #{cri.searchName}, '%')
        </if>

        <if test="cri.searchContent != '' and cri.searchContent != null" >
            and prod_content like concat('%', #{cri.searchContent}, '%')
        </if>

        <if test="cri.startDate != '' and cri.startDate != null" >
            <![CDATA[
                and str_to_date(prod_enddate, '%Y-%m-%d') >=  str_to_date(#{cri.startDate}, '%Y-%m-%d')
            ]]>
        </if>

        <if test="cri.endDate != '' and cri.endDate != null" >
            <![CDATA[
            and str_to_date(prod_enddate, '%Y-%m-%d') <= str_to_date(#{cri.endDate}, '%Y-%m-%d')
            ]]>
        </if>
    </select>
</mapper>